body {

}

.first-block{
    background-color:#1F2937;
}

.header {
  color: white; 
  padding: 0 70px;
  font-size: 20px;
  font-weight: 900;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  
  
}

.body {
    flex: 3 5 6;
  display: flex;
  
    
}

.sidebar{ 
    flex-shrink: 0;
    padding: 16px;
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-shrink: 0;
    padding: 0 300px;
    
}

li {
    

}

.text {
    
}

<!-- this lines up website is awesome header>
.sub-header { 
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}

.bold {
    font-size: 35px;
    font-weight: bold;
    color: white;
    
}

.par {
    color: white;
    
}

.sign{

}

.place {

}

.second-block {

}

.middle-head {


}

.card {

}

.quote {
    padding: 50px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    align-content: center;
    
    
}

.author {
   font-weight: bold;
   display: flex;
   align-items: flex-end;
   margin-right: 100px;
   flex-direction: row;
}

.bottom-header{
    
}


.bottom-par{
    color:#E5E7EB;
    display: flex;
    align-items: center;
}

.bottom-sign {
    display: flex;
   

}

.footer {
    background: #1F2937;
    padding: 20px;
}

.third-block{
background: #E5E7EB;
display: flex;
padding: 30px;

}

.fourth-block{
    background: #3882F6;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    
}

.bottom {
    color:#E5E7EB;
    display: flex;
    justify-content: center;
}

button {
   
   
}