body {

}


.header {
    display: flex;
    color: white;
    flex: 1;
    background: #1F2937;

}

.body {

}

.sidebar{ 

}

.ul {


}

.sub-header {

}

.bold {

}

.par {

}

.sign{

}

.place {

}

.container {

}

.middle-head {


}

.card {

}

.quote {

}

.author {

}

.bottom-header{

}

.bottom-bold{

}

.bottom-par{

}

.bottom-sign {


}

.footer {
    
}